div{
    background-color: aqua;
    width: 200px;
    height: 200px;
}


#a{
    background-color: blue;
    width: 300px;
    height: 300px;
}



.username{
    border-color: blue;
}